@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #00384B; 
}
::-webkit-scrollbar-thumb {
    background: #057BA3; 
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #A7566A; 
}
